PARTNER_SERVICE_NAME=solicitudes-partner
PARTNER_DATABASE_URL=
PARTNER_POSTGRES_PORT=55434
PARTNER_TEST_DATABASE_URL=postgresql+psycopg://partner:partner_local@127.0.0.1:55434/partner
PARTNER_PULSAR_URL=pulsar://127.0.0.1:6650
PARTNER_PULSAR_TOPIC=persistent://public/default/solicitud-partner-lista-v1
PARTNER_TEST_PULSAR_URL=pulsar://127.0.0.1:6650
PARTNER_TEST_PULSAR_ADMIN_URL=http://127.0.0.1:18086
